{% extends "base.html" %}
{% load static %}


{%  block content  %}

<div class="container">
    <div class="row">
        <div class="col-8">

<h1>{{ article.title }}</h1>
<p>{{ article.pub_date }}</p>

{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.title }}">
{% endif %}


<p> By {{ article.author }}</p>
<p>{{ article.content|linebreaks }}</p>




<h3>Add a Comment</h3>
<form method="post" action="{% url 'post_comment' article.slug %}" class="mb-4">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>

</div>

<div class="col-4" >

    <div style="margin: 50%; margin-top: 32%;">
        <img src="{% static "image/gif.gif" %}"  style="width: 180px;" alt="" >
      </div>
      
      
</div>

</div>
</div>


{% endblock %}